.header {
    height: 100px;
    width:  400px;
    background-color: #141f40;
}

.right {
    height: 250px;
    width:  250px;
    float:  left;
    background-color: #ff9e6b; 
}

.box1 {
    justify-content:center;
    width:  150px;
    height: 50px;
}

.box2{
    justify-content:center;
    width:  150px;
    height: 100px;
}

.box3{
    width:  250px;
    height: 100px;
}

.box1:nth-child(1) {
    background-color:  #dbd400; /* 背景色指定 */
  }

.box2:nth-child(2) {
    background-color:  #0093b7; /* 背景色指定 */
}

.box3:nth-child(3) {
    background-color: #8c2727; /* 背景色指定 */   
}

.left {
    height: 250px;
    width:  150px; 
    float:  left;
    background-color: #80bfa8;
}

.footer {
    height: 100px;
    width:  400px;
    background-color: #d98d30;
}

.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

@media screen and (max-width: 767px) {
    .header {
        width: 300px;
    }
    .right {
        width: 200px; 
    }
    .left {
        width: 100px; 
    }
    .footer {
        width: 300px;
    }
}

@media screen and (max-width: 479px) {
    .header {
        width: 150px;
    }
    .right {
        float: none; /* 要素の浮動化の解除 */
        width: 150px;
    }
    .left {
        float: none; /* 要素の浮動化の解除 */
        width: 150px;
    }
    .footer {
        width: 150px;
    }
}

* {
    margin: 0;
    padding: 0;
}